.PageTitle
{
	padding:	0em;
}

nav a
{
	border-right:		0.03em solid white;
}

nav a:last-of-type
{
	border-right:		none;
}

.PageTitle:hover,
nav a:hover
{
}

nav
{
}

header a,
nav a
{
	background-color:	transparent;
	display:	block;
	float:		left;
	padding:	0.5em 1em;
}

nav .SearchPages
{
	float:		right;
}

.SubMenu .Button
{
	font-size:	1.3em;
}

.SlideShow
{
	color:		black;
	background-color:	white;
	text-align:	center;
}

.SlideShow .Slide
{
	-ms-transition: all ease-in 0.25s;
	-moz-transition: all ease-in 0.25s;
	-webkit-transition: all ease-in 0.25s;
	transition: all ease-in 0.25s;
}

.FlyLeft
{
	position:	absolute;
	right:		-10%;
}

.FlyRight
{
	position:	absolute;
	left:		200%;
}

.Middle
{
	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

select:hover
{
	cursor:				pointer;
	background-color:	yellow;
}

.TabBar
{
	width:	100%;
	border-bottom:	0.2em solid #33f;
}

.TabBar a
{
	display:	block;
	float:		left;
	padding:	0.8em;
	margin-right:	0.1em;
	width:		auto;
	color:		black;
	text-shadow:	none;
	background-color:	#ccf;
	border-radius:	1em 1em 0em 0em;
}

.TabBar a.Selected
{
	color:	white;
	background-color:	#33f;
}

.EditTags a, 
.Tags div
{
	display:	block;
	float:		left;
	color:		black;
	padding:	0.3em;
	text-shadow:	none;
	background-color:	none;
}

.EditTags a
{
	padding:	0.5em;
	margin:		0.5em;
}

.EditTags img,
.Tags div img
{
	width:		1.5em;
	height:		1.5em;
	padding:	0em;
	vertical-align:	middle;
}

.Title
{
	color:			#060;
	font-weight:	bold;
}

.Description
{
	color:			#a60;
	font-weight:	bold;
}

.ContextMenu, .FolderList
{
	color:				black;
	background-color:	#eee;
}

.ContextMenu a, .FolderList a
{
	display:	block;
	color:		black;
	border:		0.1em outset black;
	padding:	0.3em;
	overflow:			hidden;
	text-shadow:	none;
}

